@import url('./dist/css/reset.css');
@import url('./dist/css/vars.css');
@import url('./dist/css/defaults.css');
@import url('./dist/css/components/header.css');
@import url('./dist/css/components/navigation.css');
@import url('./dist/css/components/footer.css');

.hero-content{
	height: calc(100vh - 175px);
	display: flex;
	align-items: center;
	overflow: hidden;

	.text-content{
		width: 100%;
		margin: 0 auto;
		text-align: center;

		> *{
			width: 90%;
			margin: 0 auto;
		}

		.hero-text-primary{
			color: var(--color-primary);
			font-weight: 700;
			font-size: var(--fs-xl);
		}
		.hero-text-secondary{
			color: #fff;
			font-size: var(--fs-md);
			padding-top: 5px;
			color: #fff;
		}
	}

}

.company-info-section{
	> *{
		.company-info-content{
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
			position: relative;

			.info{
				display: flex;
				flex-direction: column;
				gap: 25px;
				align-items: center;
				flex: 0 0 40%;
				color: var(--color-secondary);
				p{
					line-height: 1.75;
					font-size: var(--fs-base);
				}
				.img-container{
					width: 85%;
					height: auto;
					img{
						height: auto;
						width: 100%;
						object-fit: contain;
					}
				}
			}
		}
	}
}

.company-stats-section{
	
	.header-text{
		color: #fff;
	}

	.stats-container{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(120px, auto));
		padding: 15px 0;
		gap: 20px;
		.stat{
			color: #fff;
			display: flex;
			flex-direction: column;
			gap: 8px;
			.stat-num{
				font-size: var(--fs-lg);
				font-weight: 700;	
			}
			.stat-title{
				font-size: var(--fs-base);
			}
		}
	}

}

.grid-list{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;

	 > *{
	 	display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		padding: 15px;
		.thumbnail{
			width: 100%;
			height: auto;
			img{
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}
		.detail{
			>*{
				padding-bottom: 10px;
			}
			.detail-title{
				font-weight: 600;
				font-size: var(--fs-base);
			}
			.detail-desc{
				color: var(--color-gray);
				line-height: 1.5;
				font-size: var(--fs-sm);
			}
		}
	}
}


.company-operations-section{
	.header-text{
		color: var(--color-secondary);
	}
}

.company-moto-section{
	.company-moto-info{
		display: grid;
		grid-template-columns: auto;
		justify-items: center;
		gap: 30px;

		.img-container{
			width: 75%;
			height: auto;
			img{
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}

		.company-moto-detail{
			text-align: center;
			.label-text{
				font-size: var(--fs-lg);
				font-weight: 700;
				margin-bottom: 15px;
			}
			.moto-desc{
				line-height: 1.5;
				font-size: var(--fs-base);
			}
		}
	}
}

.company-invitation-section{
	background: var(--color-primary);
	color: #fff;

	.invitation-container{
		display: grid;
		grid-template-columns: auto;
		color: #fff;
		gap: 15px;
		.label-text{
			grid-column: 1;
			grid-row: 1;
			font-size: var(--fs-md);
			font-weight: 700;
			text-transform: uppercase;
		}
		.desc-text{
			grid-row: 2;
			grid-column: 1;
			font-size: var(--fs-base);
		}
		.direct-contact{
			grid-row: 3;
			grid-column: 1;
		}
	}

}


@media screen and (min-width: 1140px){
	.hero-content .text-content{
		margin: unset;
		margin-left: calc(calc(100% - var(--wrapper-width)) / 2);
		text-align: left;
	}

	.hero-content .text-content > *{
		width: 35%;
		margin: unset;
	}

	.company-info-section{
		> *{
			.company-info-content{
				flex-direction: row;
				&::before{
					content: '';
					position: absolute;
					height: 80%;
					width: 2px;
					background-color: var(--color-light-gray);
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				.info{
					.img-container{
						max-width: 40vw;
					}
				}
			}
		}
	}

	.company-operations-section,
	.company-blog-list{
		padding: 70px 0;
	}

	.company-moto-section{
		.company-moto-info{
			grid-template-columns: 50% auto;
			align-items: center;
			
			.company-moto-detail{
				text-align: left;
			}
		}
	}
}

@media screen and (min-width: 768px){
	.company-invitation-section{
		.invitation-container{
			grid-template-columns: auto 20%;
			.direct-contact{
				grid-row: 1 / span 2;
				grid-column: 2;
			}
		}
	}
}

@media screen and (max-width: 300px){
	.grid-list{
		grid-template-columns: auto;
	}
}